<!DOCTYPE html>
<html>
  <head>
    <title>Todo App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" /> 
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
  </head>
  <body>
      <h1 class="header">Todo App</h1>
      {% block container %} {% endblock %}
    </div>
  </body>
</html>
